<div class="home-page">
  <mat-toolbar class="home-page__toolbar">
    <span class="home-page__toolbar__logo">BullsCourses</span>
    
    <div class="home-page__toolbar__options">
        <app-help-button class="home-page__toolbar__options__help"></app-help-button>
        <div class="home-page__toolbar__options__account">
          <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <app-user-menu></app-user-menu>
          </ng-container>
        
          <ng-template #loggedOut>
            <app-login-button></app-login-button>
          </ng-template> 
      </div>
    </div>
    
</mat-toolbar>
  <div class="home-page__searchbar">
    <app-course-search-bar (userInput)="onSearchCourse($event)"></app-course-search-bar>
  </div>
  <section >
    <mat-checkbox *ngIf="auth.isAuthenticated$ | async" [checked]="subscriptionChecked" (change)="setSubscriptionCheck($event.checked)">Show subscriptions only</mat-checkbox>
    <mat-checkbox [checked]="true" [disabled]="true">Fall 2023</mat-checkbox>
  </section>
  
</div>

<ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef">
</ag-grid-angular>