<div class="home-page">
  <mat-toolbar class="home-page__toolbar">
    <div  style="display: flex; width: 350px; justify-content: space-between; text-decoration: none; align-items: center;">
      <span class="home-page__toolbar__logo">BullsCourses</span>
      <button style="padding: 15px;"><a href="/about" style="text-decoration: none;">Create Schedules</a></button>
    </div>

    <div class="home-page__toolbar__options">
      <app-help-button class="home-page__toolbar__options__help"></app-help-button>
      <app-user-menu class="home-page__toolbar__options__account"></app-user-menu>
    </div>
  </mat-toolbar>

  <app-course-search-bar class="home-page__searchbar"></app-course-search-bar>
</div>

<app-course-grid></app-course-grid>