.home-page {
    &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #023047;
        color: #f1faee;

        &__logo {
            font-family: 'Nunito', sans-serif;
            font-size: 24px;
        }

        &__options {
            display: flex;
            align-items: center;

            &__account {
                display: flex;
                align-items: center;
            }
        }
    }

    &__searchbar {
        display: flex;
        justify-content: space-between;
        margin: 16px 8px 0 8px;

        &__stats {
            display: flex;
        }

        @media only screen and (max-width: 730px) {
            &__stats {
                display: none;
            }
        }
    }
}

ag-grid-angular {
    padding: 0 8px 0 8px;
}

.ag-theme-alpine {
    --ag-header-foreground-color : #003049;
    --ag-font-family: 'Roboto', sans-serif;
}