.home-page {
    padding: 8px 8px 0 8px;
    &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__login {
        display: flex;
        align-items: center;

            &__info {
                display: flex;
                align-items: center;
                margin-right: 16px;
            }
        }
    }

    &__searchbar {
        margin-top: 16px;
    }
}

ag-grid-angular {
    padding: 0 8px 0 8px;
}

.ag-theme-alpine {
    --ag-header-foreground-color : #003049;
    --ag-font-family: 'Roboto', sans-serif;
}