.home-page {
    &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #023047;
        color: #f1faee;

        &__logo {
            font-family: 'Nunito', sans-serif;
            font-size: 24px;
        }

        &__login {
        display: flex;
        align-items: center;

            &__info {
                display: flex;
                align-items: center;
                margin-right: 16px;
            }
        }
    }

    &__searchbar {
        margin: 16px 0 0px 8px;
    }
}

ag-grid-angular {
    padding: 0 8px 0 8px;
}

.ag-theme-alpine {
    --ag-header-foreground-color : #003049;
    --ag-font-family: 'Roboto', sans-serif;
}