<div class="home-page">
  <mat-toolbar class="home-page__toolbar" style="height: 55px;">
    <div class="toolbar-content"
      style="display: flex; width: 800px; justify-content: space-between; text-decoration: none; align-items: center;">
      <div class="home-page__toolbar__logo">Schedule4Bulls</div>
    </div>
  </mat-toolbar>

  <div class="main">
    <div class="left-component">
      <div style="display: flex;
    justify-content: space-around;
    align-items: center; margin-top: 20px;">
        <button (click)="generateSchedules()">Generate Schedules</button>
        <mat-checkbox class="white-label" [(ngModel)]="onlyOpenClasses">Only Open
          Classes</mat-checkbox>

      </div>
      <div *ngFor="let input of inputList; let i = index" class="box" style=" margin-top: 30px; margin-bottom: 20px;">
        <form>
          <input matInput name="name" placeholder="Enter Course" [(ngModel)]="inputList[i].name" maxlength="9" />
          <input type="color" name="color" [(ngModel)]="inputList[i].color" style="width: 50px;" />
          <button (click)="handleRemoveClick(i)" style="margin-bottom: 20px;">Remove</button>
        </form>
      </div>
      <button (click)="handleAddClick()" style="margin-bottom: 64px;">Add more</button>
    </div>
    <div class="right-component">
      <div style="margin-top: 20px; margin-bottom: 20px;  display: flex; align-items: center; justify-content: center;">
        <div class="div">
          <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
          <span style="margin: 5px;">Page {{ currentPage }} out of {{ this.totalPages() }}</span>
          <button (click)="nextPage()">Next</button>
        </div>

      </div>
      <div style="margin-top: 20px; overflow-x: auto; min-width: 700px; margin-bottom: 10px;">
        <mwl-calendar-week-view [viewDate]="viewDate" [events]="convertToCalendarEvents(this.paginatedSchedules)"
          [dayStartHour]="dayStartHour" [dayEndHour]="dayEndHour">
        </mwl-calendar-week-view>
      </div>



      <div class="schedule-container" *ngFor="let item of paginatedSchedules">
        <div class="course-details" *ngFor="let i of item">
          <div class="course-name">{{ i.name }}</div>
          <div class="course-info">
            <div class="course-info-item">
              <span class="info-label">CRN:</span>
              <span class="info-value">{{ i.crn }}</span>
            </div>
            <div class="course-info-item">
              <span class="info-label">Time:</span>
              <span class="info-value">{{ i.time }}</span>
            </div>
            <div class="course-info-item">
              <span class="info-label">Days:</span>
              <span class="info-value">{{ i.days }}</span>
            </div>
            <div class="course-info-item">
              <span class="info-label">Professor:</span>
              <span class="info-value">{{ i.prof }}</span>
            </div>
          </div>

        </div>
        <div class="separator"></div>
      </div>
    </div>
  </div>
</div>