<div class="main">
    <div class="left-component">
        <div *ngFor="let input of inputList; let i = index" class="box">
          <form>
            <input
              matInput
              name="name"
              placeholder="Enter Course"
              [(ngModel)]="inputList[i].name"
            />
          </form>
        </div>
        <button (click)="handleAddClick()">Add more</button>
        <button (click)="generateSchedules()">Generate Schedules</button>
      </div>
      
    <div *ngFor="let schedule of schedules; let index = index">
      <h3>Schedule {{ index + 1 }}</h3>
      <div *ngFor="let course of schedule">
        <div>
          <span>CRN: {{ course.crn }}</span> - <span>Name: {{ course.name }}</span> -
          <span>Days: {{ course.days }}</span> - <span>Time: {{ course.time }}</span>
        </div>
      </div>
    </div>
  </div>
  