<div class="home-page">
    <mat-toolbar class="home-page__toolbar">
        <span class="home-page__toolbar__logo">BullsCourses</span>
        <div class="home-page__toolbar__options">
            <app-help-button class="home-page__toolbar__options__help"></app-help-button>
            <app-user-menu class="home-page__toolbar__options__account"></app-user-menu>
        </div>
    </mat-toolbar>
</div>

<div style="height: 100vh; display: flex;">
    <div style="flex: 1; background-color: antiquewhite; height: 100%; display: flex; justify-content: space-evenly; align-items: center;">
        <label for="" style="font-size: 20px;">Enter course Code</label>
        <input placeholder="COP 2510" style="padding: 10px;">
    </div>
    <div style="flex: 4; background-color: white; height: 100%;"></div>
</div>

