.main {
    width: 100%;
    display: flex;
    // align-items: center;
    // justify-content: center;
    // padding-top: 1px;
    // height: 100vh;
    height: 100%;
  }
  
  .left-component {
    flex: 1;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#023047;
    // overflow: auto;
    // padding: 10px;
    min-width: 300px;
    

  }
  
  .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
  }
  
  .box input {
    width: 10vw;
    height: 30px;
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }


.home-page {
  height: 100vh;
  overflow: hidden;
    &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #023047;
        color: #f1faee;

        &__logo {
            font-family: 'Nunito', sans-serif;
            font-size: 24px;
        }

        &__options {
            display: flex;
            align-items: center;
        }
    }

    &__searchbar {
        display: flex;
        justify-content: space-between;
        margin: 16px 8px 0 8px;
    }
}
  
.right-component{
  flex: 4;
  width: 100%;
  overflow: auto;
  overflow-x: auto;
  padding: 100px;

  @media (max-width: 767px) {
      padding: 0;
    }
  
}

.right-component__scrollable {
  min-height: 100%;
  /* Additional styling if required */
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .left-component,
  .right-component {
    width: 100%;
  }
}


@media (max-width: 600px) {
  .box {
    flex-direction: column;
  }
}



.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  text-decoration: none;
}

.home-page__toolbar__logo {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
}

.create-schedules-btn {
  padding: 15px;
}

@media (max-width: 600px) {
  .toolbar-content {
      width: 100%;
      padding: 0 10px; /* Add some padding on small screens */
      justify-content: space-between;

  }

  .home-page__toolbar__logo {
      font-size: 18px; /* Decrease the font size on small screens */
  }

  .create-schedules-btn {
      padding: 10px; /* Decrease the padding on small screens */
      font-size: 0.6rem; /* Decrease the font size */
  }
}


