@import '@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-blue,200);
  $accent: mat-palette($mat-orange,200);
  

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);